/* NavComponent.css */

.bg-darkblue {
  background-color: #001851 !important; /* Dark blue */
  right: 0;
}

.text-medyellow {
  color: #facc15 !important; /* Medium yellow */
}

.nav-link-custom {
  color: white !important;
  font-size: large;
  font-weight:bolder;
  transition: color 0.3s ease;
}



.dropdown-item-custom {
  background-color: #0f172a;
  color: white;
}

.dropdown-item-custom:hover {
  background-color: #facc15;
  /* color: #0f172a; */
}

.search-input {
  min-width: 150px;
}
