*{
  margin: 0;
  padding: 0;
}
:root{
  --main-color:#FFC107;
  --main-sub-color: #0e1c3c;
}
/* h3{
color: var(--main-sub-color);
} */

ul{
  list-style: none;
}
li{
  text-decoration: none;
}
::selection{
  background-color: #FFC107;
}