:root {
    --main-color: #FFC107;
    --main-sub-color: #0e1c3c;
  }

.table {
    margin-top: 30px;
    /* background:  rgba(14, 28, 60,0.8); */
    /* background: rgb(255, 193, 7 ,0.5); */
    background: none;
}
  
  .table th,
  .table td {
    text-align: center;
  }
  
  .table .imageTable {
    width: 50px;
    height: auto;
  }
  
  .table th {
    background-color: var(--main-sub-color);
    color: white;
    font-size: 16px;
    padding: 10px;
  }
  
  .table tbody tr:hover {
    background-color: #f7f7f7;
  }
  
 
  .custom-icon {
    font-size: 20px;
    color: var(--main-sub-color);
    cursor: pointer;
  }
  
  .custom-icon:hover {
    color: var(--main-color);
  }
  
  .btn-main {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
  }
  
  .btn-main:hover {
    background-color: var(--main-sub-color);
    color: white;
  }
  
  @media (max-width: 768px) {
    .table thead {
      font-size: 14px;
    }
    .table td, .table th {
      font-size: 14px;
      padding: 8px;
    }
  
    .btn-main {
      width: 100%;
      margin-top: 20px;
    }
  }
  